[Unit]
After=network.target
Description=kinotop_bot

[Service]
Type=simple
WorkingDirectory=/root/TG-BOTS/KinoTop
ExecStart=/root/TG-BOTS/KinoTop/env/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target